.auth {
    padding: 60px 50px 0; 

    &__title {
        text-align: center;
        margin-bottom: 90px;
    }

    &__greet {
        color: #D60013;
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    &__placeholder {
        display: block;
        margin-bottom: 20px;
    }

    &__input {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        border-radius: 0;
        width: 100%;
        border-bottom: 1px solid #CACACA;
        background: transparent;
        font-size: 16px;
        margin-bottom: 25px;
    }

    &__divider {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
}
