.input {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid #CACACA;
    background: transparent;
    font-size: 16px;
    margin-bottom: 100px;
}
