.InfoCard {
    display: flex;
    justify-content: center;
    position: relative;
    width: 160px;
    padding: 12px 0;
    background: #fff;
    border-radius: 17px;
    text-align: center;

    &__title {
        max-width: 80px;
        color: #E10413;
        font-size: 14px;
        font-weight: 500;
    }

    &__icon {
        position: absolute;
        right: 9px;
        top: 19px;
        cursor: pointer;
    }
}
