.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 13px 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}
.red {
background-color: #D6000A;
}

.green {
    background-color: #509339;
}
